.slogan {
    height: 250px;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    min-width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;
}

.text {
  background-color: darkgray;
}


