.footer__item {
    width: 80px;
    height: 80px;
    background-color: darkcyan;
    border-radius: 50%;
    position: relative;
}

.footer__item img {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 10px;
    top: 10px;
}





