.contacts {
    height: 50vh;
    background-color: #1f1f20;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

form {
    width: 600px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
}

input {
    margin: 10px;
    border: 2px solid darkcyan;
    background-color: #252527;
    color: white;
    outline: none;
}

input::-webkit-input-placeholder {
    color: white;
    font-family: Montserrat, sans-serif;
}

textarea {
    margin: 10px;
    border: 2px solid darkcyan;
    background-color: #252527;
    outline: none;
    color: white;
    font-size: 14px;
}

.button p {
    background-color: chocolate;
    margin: 0px;
}

@media screen and (max-width: 626px ) {
    form {
        width: 100%;
    }
}