
.nav {
    width: 360px;
    display: flex;
    justify-content: space-between;
    border: 1px solid;

}

.nav__link {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 400px ) {
    .nav__link {
        margin: 0 10px;
    }
}