.skills {
    min-height: 100vh;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.title {
    height: 150px;
}

.title p {
    background-color: chocolate;
    margin: 0px;
}

.skillsItem {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 1000px ) {
    .skillsItem {
        justify-content: center;
    }
}


