.slider {
    width: 100%;
    margin: 50px 0px;
    display: flex;
    justify-content: center;
}

.slider>div>ul {
    padding: 0px;
    margin: 0px;
}

.slider>div>ul>li {
    display: none;
}

.slider>div>div>div>ul>li>div>img {
    width: 100%;
    height: 100%;
}

.slider>div>div>div>p {
    display: none;
}

.item {
    width: 280px;
    height: 200px;
}

.btns {
    display: flex;
    margin: 25px 0px;
}

.btn {

}
