.slogan {
    height: 200px;
    background-color: #252527;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    min-width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.text {
  background-color: darkgray;
}


