.header {
    height: 70px;
    background-color:lightblue;
    display: flex;
    justify-content: center;

}

.container {
    min-width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

