.work {
    height: 400px;
    width:500px;
    background-image: url("../../../image/2.png") ;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    position: relative;
}

.button {
    position: relative;
}

.work:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
}




@media screen and (max-width: 450px ) {
    .work  {
       width:100%;
    }
}