.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px 100px;
}

.item__image {
    width: 200px;
    height: 200px;

}


@media screen and (max-width: 1000px ) {
    .item {
        margin: 20px;
    }
}

@media screen and (max-width: 650px ) {
    .item {
        margin-top: 10px;
    }
}
@media screen and (max-width: 468px ) {
    .item  {
        width: 100%;
    }
}



