.work {
    height: 400px;
    width:500px;
    background-position: top center;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 10px;
    position: relative;
    opacity: 0.8;
}


.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    text-align: center;
    text-decoration: none;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity:0;
}


.work:hover .link {
    opacity: 0.9;
    transition: 700ms;
    border-radius: 10px;
    border: 2px solid darkcyan;
}

@media screen and (max-width: 650px ) {
   .work {
       width: 400px;
       height: 300px;
   }
}

@media screen and (max-width: 550px ) {
    .work {
        width: 250px;
        height: 150px;
    }
    .link {
        opacity: 0.7;
    }
}


@media screen and (max-width: 350px ) {
    .work {
        width: 200px;
        height: 100px;
    }
}


