.contacts {
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    width: 80%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

form {
    width: 600px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.formButton {
    margin: 0 auto;
}

input:focus,textarea:focus {
    border: 2px solid #ffffff;
    transition: all .5s ease-in-out 0s;
}

input {
    margin: 10px;
    border: 2px solid darkcyan;
    background-color: #252527;
    color: white;
    outline: none;
    border-radius: 10px;
    width: 100%;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: white;
    font-family: Montserrat, sans-serif;
}


textarea {
    margin: 10px;
    border: 2px solid darkcyan;
    background-color: #252527;
    outline: none;
    color: white;
    font-size: 14px;
    border-radius: 10px;
    width: 100%;
}



@media screen and (max-width: 626px ) {
    form {
        width: 100%;
    }
    .container {
        padding-top: 10px;
    }

}